

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    background-color: hsl(36, 100%, 99%);
}

.menu-design{
    position: absolute;
    visibility: hidden;
}

.menu-background{
    position: absolute;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75rem;
    margin-top: -2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-list ul{
    display: flex;
    list-style: none;
}   .header-list ul li{
        margin-left:  3rem;
        font-size: 15px;
        color: hsl(236, 13%, 42%);
        font-weight: 500;

    }   .header-list ul li a{
            text-decoration: none;
            color: hsl(236, 13%, 42%);
            transition-property: color;
            transition-duration: .25s;
        }

.header-list ul li a:hover{
    color: hsl(5, 85%, 63%);
}


.container-articleAside{
    display: flex;
}

.article-img{
    margin: 0 1.5rem 1.5rem 0;
}   .article-img img{
        width: 100%;
    }

.container-tittleText{
    display: flex;
    justify-content: space-between;
}   

.article-tittle{
    width: 20rem;

}   .article-tittle h1{
        font-size: 3.5rem;
        color: hsl(240, 100%, 5%);
        margin: 0;
        font-weight: 800;
    }

.article-text {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: hsl(236, 13%, 42%);
    font-weight: 500;
    line-height: 1.5rem;
    width: 23rem;
    margin-right: 3rem;
    justify-content: space-between;

}   .boton input{
        width: 11rem;
        height: 3.2rem;
        letter-spacing: 1.2px;
        background-color: hsl(5, 85%, 63%);
        border: none;
        color: white;
        transition-property: background;
        transition-duration: .25s;
        cursor: pointer;
    }

.boton input:hover{
    background-color: hsl(240, 100%, 5%);
    color: white;
}

.aside{
    background-color: hsl(240, 100%, 5%);
    color: white;

}   .aside-tittle{
        color: hsl(35, 77%, 62%);
        margin: 2rem 0 1rem 1.3rem;
        font-size: 1.5rem;
        font-weight: 100;

    }   .aside-section{
            margin: 1.5rem 1.3rem 1rem 1.3rem;
        }   

.aside-section h3{
    margin: 0 0 1rem 0;

}   .aside-section p{
        color: hsl(233, 8%, 79%);
        line-height: 1.4rem;

    }   .separazione{
            display: flex;
            justify-content: center;
            height: 1px;
            width: 100%;
            margin: 2.5rem 0 2.5rem 0;

        }   .riga{
            height: 100%;
            width: 87%;
            background-color: hsl(233, 8%, 79%);
        }
        
.aside-section h3 a{
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: .25s;
}

.aside-section h3 a:hover{
    color: hsl(35, 77%, 62%);
}


.footer{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

}   .footer-box{
        display: flex;
        width: 22rem;
    }

.footer-container{
    display: flex;
    flex-direction: row;
}

.box-img img{
    width: 6.5rem;
}

.footer-text{
    margin-left: 1.5rem;
}

.footer-text h2{
    color:  hsl(233, 8%, 79%);
    font-size: 2rem;
    margin-bottom: .7rem;

}   .footer-text p:last-child{
        color: hsl(236, 13%, 42%);
        font-size: 15px;
        line-height: 1.8rem;
        margin-top: .7rem;

    }   .first-p{
            color: hsl(240, 100%, 5%);
            font-size: 1.1rem;
            font-weight: 900;
            transition-property: color;
            transition-duration: .25s;
            cursor: pointer;
        }
        
.first-p:hover{
    color: hsl(5, 85%, 63%);
}

.aside-footer{
    background-color: hsl(240, 100%, 5%);
    color: white;
    position: absolute;
    visibility: hidden;
    top: -1rem;
}

.article-img img:last-child{
    position: absolute;
    visibility: hidden;
    width: 1px;
}

.menu-logo{
    position: absolute;
    visibility: hidden;
}

@media only screen and (max-width: 1200px){
    body{
        min-height: 100vh;
        align-items: flex-start;
    }

    .main{
        margin-top: 3rem;
        width: 90%;
        padding-top: 0;
    }

    .article-img{
        margin-right: 0;
    }

    .container-articleAside{
        flex-direction: column;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin-right: 2rem;
    }

    .aside-hidden{
        background-color: hsl(240, 100%, 5%);
        color: white;
        position: absolute;
        visibility: hidden;
    }

    .aside-footer{
        position: inherit;
        visibility:visible;
    }
}

@media only screen and (max-width: 825px){

    body{
        min-height: 100vh;
    }


    .menu-design{
        flex-direction: row;
        visibility: visible;
        position: fixed;
        right: -60rem;
        top: 0;
        z-index: 50;
        height: 200vh;
        width: 65%;
        background-color: hsl(36, 100%, 99%);
    }
    
    .menu-background{
        background-color: hsl(240, 100%, 5%);
        position: fixed;
        width: 100%;
        opacity: 0%;
        height: 200vh;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .menu-flex{
        display: flex;
        margin-top: 1.3rem;
        flex-direction: column;
    }
    .menu-icon{
        position: static;
        margin-left: 80%;
    }
    .menu-icon button{
        background-color: hsl(36, 100%, 99%);
        border: none;
        cursor: pointer;
    }

    .menu-list{
        margin-top: 5rem;
    }
    .menu-list ul{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .menu-list ul li{
        padding-left: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .menu-list ul li a{
        text-decoration: none;
        color: hsl(240, 100%, 5%);
    }
    

    .main{
        width: 80%;
        margin-top: 2rem;
        margin-left: 0;
        padding-top: 0;
        margin-right: 0;
    }

    .header-list{
        visibility: hidden;
        position: absolute;
        top: -600rem;
    }
    .menu-logo{
        position: relative;
        visibility: visible;
        width: 3rem;
        height: 3rem;
    }
    .menu-logo button{
        border: none;
        background-color: hsl(36, 100%, 99%);
        width: 100%;
        height: 100%;
    }
    .menu-logo button img{
        width: 100%;
        height: 50%;
        cursor: pointer;
    }

    /*ARTICLE STYLE*/
    .container-tittleText{
        flex-direction: column;
    }
    .container-articleAside{
        width: 100%;
        display: flex;
    }
    .article-tittle h1{
        font-size: 2.5rem;
    }
    .article-text{
        width: 100%;
        margin: 0;
        margin-top: 1rem;
    }

    .article-img img:first-child{
        position: absolute;
        visibility: hidden;
        width: 1px;
    }

    .article-img{
        display: flex;
        justify-content: center;
    }

    .article-img img:last-child{
        position: relative;
        visibility: visible;
        width: 100%;
    }

    .boton{
        margin: 1rem 0 0 0;
    }

    .article{
        margin: 0 0 4rem 0;
    }

    /*PAGINA AZUL */
    .aside-hidden{
        position: relative;
        visibility: visible;
    }
    .aside-footer{
        position: absolute;
        visibility: hidden;
        width: 0;
    }

    /*FOOTER */
    .footer{
        margin: 3rem 0 0 0;
    }

    .footer-container{
        margin: 0;
        width: 100%;
    }

    .footer-box{
        width: 100%;
        margin-bottom: 3rem;
    }

    .footer-text{
        margin-left: 1rem;
    }
    .footer-text p:last-child{
        font-size: 14px;
    }
    .box-img img{
        width: 8rem;
    }
}